/* ESTRUTURA GERAL */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Trebuchet MS, sans-serif;
    background: #fff url(/imagens/bg.png);
    margin: 15px;
}

/* Elemento com id "container" */
#container{
    background: #ede9cc;
    margin: 0 auto;
    min-width: 720px;
    max-width: 1180px;
}

/* Elemento com id "topo" */
#topo{
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
    position: relative;
}

/* Elemento com id "area-logo" */
#area-logo{
    background: blue;
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    /* 
    Propriedade diz qual conteúdo aparece primeiro que o outro,
    dando o efeito de ordem de empilhamento, elemento sobre o outro. 
    */
    z-index: 1;
}

/* Elemento <a> dentro de um elemento com a classe "logo" */
.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../imagens/logo.png) no-repeat;
    width: 150px;
    height: 65px;
    text-indent: -5000px;
}

/* Elemento com id "area-menu" */
#area-menu{
    background: red;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}